<div class="top-message">
  <p>
      Built with:
      <a target="_blank" href="https://www.polymer-project.org/blog/2017-08-23-hands-on-30-preview.html">
        POLYMER 3.0 PREVIEW
      </a>
  </p>
  <p>
    Flip any card to start.
  </p>
  <p>
    <!-- TODO: i need something like polymer expressions, angularjs filters -->
    {{ displayTime.hour }}: {{ displayTime.minute }}: {{ displayTime.second }}
  </p>
</div>

<style>
  .top-message {
    margin-bottom: 15px;
  }

  .top-message p {
    text-align: center;
    padding: 5px;
  }
</style>